@import "../Colors.scss";

 .input-group-text {
  font-size: 1rem !important;
  color: $bg !important;
  border: none  !important;
  background-color: $fav !important;
  z-index: 9999999;
}

.form-control {
  box-shadow:  20px 20px 60px #cececc, 
            -20px -20px 60px #ffffff;
  border: none  !important;
  background-color: $bg !important;
  outline: none !important;
}

.form-control:focus {
  box-shadow: 20px 20px 60px #a9a9a8, 
            -20px -20px 60px #ffffff !important;
  border: none  !important;
  background-color: $bg !important;
  outline: none !important;
}

.input-field {
  max-width: 500px;
  border-radius: 0.25rem !important;
}